<h2>Bienvenido</h2>
<%- if user_signed_in? %>
    <p>¡ Bienvenido <%= current_user.name %> !</p>
    <div class="row">
        <%= render @images %>
    </div>
<% else %>
    <p>Por favor iniciar sesión</p>
    <%= $URLSERVER %>
<% end %>